<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{block_title}}</title>
</head>
<body>
<center>
    <h1><font COLOR=red> Quick summary <br> {{block_title}} </font></h1>
</center>
<br><br><br>
{% for molecule in molecules %}
<table>
    <tr ALIGN="center">
        <td COLSPAN=1><b> Acquisition image for Molecule {{molecule["id"]}} </b></td>
        <td COLSPAN=1><b> First Guiding Image for Molecule {{molecule["id"]}}</b></td>
    </tr>
    <tr>
        <th ROWSPAN=2>
            <IMG src="{{molecule['acquisition_image']}}" height="400">
        </th>
        <th ROWSPAN=2>
            <IMG src="{{molecule['first_guiding_image']}}" height="400">
        </th>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr ALIGN="center">
        <td COLSPAN=1>{{molecule['acquisition_image']}}</td>
        <td COLSPAN=1>{{molecule['first_guiding_image']}}</td>
    </tr>
</table>
<br><br>
<table>
    {% for summary_plot in summary_plots %}
    <tr ALIGN="center">
        <th COLSPAN="3" ALIGN="CENTER"><b> Guide Summary for {{summary_plot["science_frame_name"]}} </b></th>
    </tr>
    <tr>
        <td ROWSPAN=2><IMG src="{{summary_plot['total_counts']}}" height="300"></td>
        <td ROWSPAN=2><IMG src="{{summary_plot['fwhm']}}" height="300"></td>
        <td ROWSPAN=2><IMG src="{{summary_plot['guide_state']}}" height="300"></td>
    </tr>
    <tr></tr>
    <tr>
        <td ROWSPAN=2><IMG src="{{summary_plot['position']}}" height="300"></td>
        <td ROWSPAN=2><IMG src="{{summary_plot['x_position']}}" height="300"></td>
        <td ROWSPAN=2><IMG src="{{summary_plot['y_position']}}" height="300"></td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
<table>
    <tr ALIGN="center">
        <td COLSPAN=1><b> FLOYDS Frames </b></td>
    </tr>
    {% for frame in floyds_frames %}
    <tr>
        <td ROWSPAN=2><IMG src="{{frame}}" height="200"></td>
    </tr>
    <tr></tr>
    <tr></tr>
    <tr ALIGN="center">
        <td COLSPAN=1>{{frame}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
